.wraper{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: red;
}
.box:nth-child(1){
    background-color: lightgreen;
    grid-column-start: 1;
    grid-column-end:4 ;
    height: 100px;
}
.box{
    background-color: lightgreen;
    border: 5px solid rgb(255, 255, 255);
    
}
.box:nth-child(2){
    
    height:   100px;
}
